/* 상단바 아래 컨텐츠 */
#divOuter{
    /* border: 1px solid red; */
    align-content: center;

}
#signupContainer{
    /* border: 1px solid #075A2A; */
    width: fit-content;
    height: fit-content;
    margin-left: 40%;
}
#signupContainer>hr{
    width:310px;
    margin-left: 0px;
}
#signupContainer>h1{
    margin-bottom: 10px;
    padding-top: 30px;
}
#signupContainer>input{
    width:300px;
    height:30px;

}
#signupContainer>img{
    width:260px;
    margin-top: 0px;
}
#signupRule1{
    width:300px;
    height:100px;
    margin-top: 10px;
    background-color: white;
    overflow: auto;
    
}
#signupRule2{
    width:300px;
    height:100px;
    margin-top: 5px;
    background-color: white;
    overflow: auto;
    
}

#ruleContainer{    
    /* border: 1px solid green; */
    font-size: smaller;
    margin-top: 20px;
}

#signupBtn{
    width:310px;
    height:40px;
    /* margin-left: 40px; */
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: #075A2A;
    color: white;
    border-color: #075a2a8c;
    border-radius: 5px;
}
.btns{
    background-color: #075A2A;
    color:white;
    width:100px;
    height:30px;
    border-radius: 3px;

}
