/* 상단바 아래 컨텐츠 */
#divOuter{
    /* border: 1px solid red; */
    align-content: center;

}
#searchContainer{
    /* border: 1px solid #075A2A; */
    width: fit-content;
    height: fit-content;
    margin-left: 40%;
}
#searchContainer>hr{
    width:260px;
    margin-left: 0px;
}
#searchContainer>h1{
    margin-bottom: 10px;
    padding-top: 30px;
}
#searchContainer>input{
    width:250px;
    height:30px;

}
#searchContainer>img{
    width:260px;
    margin-top: 0px;
}
#userPwInfo{
    /* border: 1px solid #075A2A; */
    margin-top: 25px;
    padding: 60px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    width: 238px;
    height: 100px;
    color: rgb(68, 68, 68);
}
#searchTip{
    /* border: 1px solid #075A2A; */
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    width: 238px;
    color: rgb(68, 68, 68);
    text-align: center;
}

#searchPwBtn{
    width:260px;
    height:40px;
    /* margin-left: 40px; */
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #075A2A;
    color: white;
    border-color: #075a2a8c;
    border-radius: 5px;
}
#loginBtn2{
    width:260px;
    height:40px;
    /* margin-left: 40px; */
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: #075A2A;
    color: white;
    border-color: #075a2a8c;
    border-radius: 5px;
}
#searchIdBtn{
    width:260px;
    height:40px;
    /* margin-left: 40px; */
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #075A2A;
    color: white;
    border-color: #075a2a8c;
    border-radius: 5px;
}