/* div{
    border: 1px solid #075A2A;

} */

#divOuter{
    /* border: 1px solid red; */
    align-content: center;
    display: flex;    
    margin-top: 30px;

}

/* MY방방 div */
.mypageTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;

}

/* MY방방 텍스트 */
#titleText{
    /* border: 1px solid #075A2A;
     */
    margin:auto;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 70px;
    letter-spacing: -1px;
    font-weight: 700;

}

/* 회원 이름/레벨 표시 */
.profile{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80px;
    margin: auto;

}
.profile2{
    width: fit-content;
    height: 80px;
    margin: 0px;
    padding-top: 0px;
}
#userName{
    margin:0px;
}
#userLevel{
    background-color: #075A2A;
    border-radius: 5px;
    font-size: 13px;
    padding:6px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 6px;
    
    color: white;
}

/* 여기까지 */


.mypageMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    /* border: 1px solid #075A2A; */
}
.mypageMenu>a{
    border: 1px solid #075a2a09;

    width: 400px;
    height: 1px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px 40px 30px;
    margin-top: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-decoration: none;
    color: rgb(32, 32, 32);    
    font-size: 21px;

    background-color: #075a2a4d;
    
    
}

.mypageMenu>a:hover{
    background-color: #075a2aab;
    color: white;
}


