@charset "UTF-8";
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: #d9dfd4;
    mix-blend-mode: normal;
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;
    font-size: 13px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 1);

    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Poor Story', cursive; 
    font-size : 35px;
    background-color: #d9dfd4; 
}
body{
    background-color: #d9dfd4;  
}
div.menu{
    font-size:28px;
    font-weight:bolder;
    vertical-align:middle;
    margin-top:45px;
}
.buttonContainer>button{    
    width:150px;
    height:40px;     
    background-color: #075A2A;
    color:white;
    border:0px;
}
.buttonContainer>button>p{
    font-weight: bolder;
    font-size:17px;
}
#loginBtn{
    margin-top:20px;
    margin-right:20px;
}
p{
    margin:0px;
}
textarea{
    resize: none;
    width: 400px;
    height: 300px;
}
