#divOuter{
    display: flex;
    width:100%;
}

#button-Container{
    justify-content: center;
    display: flex;
    width: 100%;

}
#button-Container .btns{

    background-color: #075A2A;
    justify-content: space-between;
    vertical-align: middle;
    width: 300px;
    height: 150px;
    margin: 30px;
    color:white;
    font-size: 30px;
    align-items: center;
    
}

